* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background-image: url(img/bg4.jpeg);
    border-image: fill 0 linear-gradient(#0001, #000);
    background-size: cover;
    color: #3e2723;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

a {
    position: relative;
    cursor: pointer;
    color: #efd9ac;
    transition: color 0.30s;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: #FFF0F5;
    scale: 1 0;
    z-index: -1;
    transition: 0.50s;
    border-radius: 100px;
}

a:hover {
    color: rgb(236, 11, 11);
}

a:hover::after {
    scale: 1 1;
}

.ham-menu {
    height: 50px;
    width: 50px;
    display: flex;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    gap: 200px;
    background-image: url('')
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1 {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 70px;
    object-fit: contain;
}

.logo {
    font-size: 30px;
    color: #F2E2B1;
    font-family: 'Noto Sans Tagalog', sans-serif;
    display: flex;
    align-items: center;
}

.menu-container {
    flex: 6;
}

.menu-list {
    justify-content: center;
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    background: rgba(245, 222, 179, 0.8);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.video-title {
    font-size: 24px;
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    color: #5d4037;
    margin-bottom: 15px;
}

video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.video-description {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
    color: #4e342e;
    font-weight: 400;
    background: rgba(255, 239, 213, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'IM Fell English SC', serif;
}

.video-description strong {
    color: #8d6e63;
    font-weight: 600;
}